<div class="section-top-border">
  <div class="section-title">
    <h2>Certificates & Training</h2>
  </div>
  <h3 class="mb-30">Advanced PHP with Laravel</h3>
  <div class="row">
    <div class="col-md-3">
      <img src="./../../../assets/img/program/c1.PNG" alt="" class="img-fluid">
    </div>
    <div class="col-md-9 mt-sm-20 left-align-p">
      <p>Institute: IT Training Nepal Pvt Ltd</p>
      <p>Duration: 2.5 Months (Jan 2018 to March 2018)</p>
      <p>Introduction to composer, mvc pattern:
        <br>

          Routing api and web (GET,POST,PUT,PATCH,DELETE etc) (csrf protection).

          Artisan (Laravel build in CLI, create your own CLI application).

          Create Controller for business logic.

          Create model to work with DB.

          View the presentation layer.

          Dependency injection.
      </p>
      <p>
        Concept of RDBMS:
        <br>

          DB architect with Laravel migration.

          Data seeding with Laravel Seeders.

          Eloquent ORM to work with mysql.

          DB Facade to work with mysql.

          Db table relationships (one to one, one to many, many to many).
      </p>
      <p>

          Templating with blade syntax.

          Cookies and Session Facade/Helper functions.

          Request and Response lifecycle.

          Laravel Authentication (concept of guards).

          Middleware to check a valid request.

          Service container / Service Providers and Facade.

          Mailing and Events.

          Laravel frontend support(ES6/SCSS bundling with webpack).

          Deploying Laravel application.
        </p>
    </div>
  </div>


  <h3 class="mb-30">MEAN Stack</h3>
  <div class="row">
    <div class="col-md-3">
      <img src="./../../../assets/img/program/c2.PNG" alt="" class="img-fluid">
    </div>
    <div class="col-md-9 mt-sm-20 left-align-p">
        <p>Institute: Broadway Infosys Pvt Ltd</p>
        <p>Duration: 2 Months (April 2019 to May 2018)</p>
        <p>Understanding of complex web applications development using a combination of Javascript technologies, MongoDB (M), Express JS (E), Angular JS (A), Node JS (N)</p>
        <p>Introduction to development tools:
          <br>
            Text Editor,
            Command Prompt (command line),
            Git,
            Git workflow (branching,push,pull),
            NPM,Yarn,
            Postman.</p>
        <p>Introduction to nodejs:
          <br>
            Node package manager (npm)
            Asynchronous and event loop in node js,
            Events and handling Events,
            Node CLI,
            Node modules,
            File handling with node js,
            Creating http server with nodejs,
            Introduction to websockets,
            Create realtime socket communication.</p>
          <p>
              The model-view-controller pattern in ExpressJS:
              <br>
              Routing,
              HTTP interaction,
              Request and Response,
              Handling form data,
              Handling query parameter,
              Status code response,
              Middlewares in Express,
          </p>
          <p>
              Understanding NoSQL (MongoDB):
              <br>
              Database modeling and Schema design (using mongoose),
              Update, insert delete and upsert documents
          </p>
          <p>
              SPA & Angularjs 2+ framework architecture:
              <br>
              Typescript,
              Class based inheritance,
              Component based architecture,
              Module based architecture,
              Routing,
              Data binding (one way & Two-way binding),
              Pipes and Directives,
              Forms and Forms Validation,
              Observables & promises (rxjs map,subscribe,catch),
              Dependency injection,
              Services ($http),
              Decorators,
              Introduction to frontend build tools (angular CLI, Webpack)
          </p>
    </div>
  </div>
</div>