<div class="section-top-border">
    <div class="section-title">
        <h2>Academic Background</h2>
      </div>
    <div class="row">
      <div class="col-md-4">
        <div class="single-defination">
          <h4 class="mb-20">Bachelors in Electronics and Communication</h4>
          <p>Institute: Kathmandu Engineering College</p>
          <p>Affiliated University/Board: Tribhuwan University</p>
          <p>Acquired Percentage: 76%</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="single-defination">
          <h4 class="mb-20">A Levels</h4>
          <p>Institute: Rato Bangala School</p>
          <p>Affiliated University/Board: Cambridge University</p>
          <p>Acquired Percentage: 80%</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="single-defination">
          <h4 class="mb-20">School Leaving Certificate (SLC)</h4>
          <p>Institute: Shuvatara School</p>
          <p>Affiliated University/Board: Governent of Nepal</p>
          <p>Acquired Percentage: 86%</p>
        </div>
      </div>
    </div>
  </div>