<div class="section-top-border">
    <div class="row">
      <div class="col-md-6 mt-sm-30 typo-sec">
        <h3 class="mb-20">Soft Skills</h3>
        <div class="">
          <ul class="unordered-list">
            <li>Quick Learner</li>
            <li>Team Worker</li>
            <li>Time Management</li>
            <li>Creative</li>
            <li>Open-Minded</li>
            <li>Good Communicator</li>
            <li>Accountable</li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 mt-sm-30 typo-sec">
          <h3 class="mb-20">Interests</h3>
          <div class="">
            <ul class="unordered-list">
              <li>Cycling</li>
              <li>Football</li>
              <li>Gym</li>
              <li>Movies</li>
              <li>Hiking</li>
              <li>Video Games</li>
            </ul>
          </div>
        </div>
      
    </div>
  </div>
