<!-- Start About Area -->
<section class="about-area section-gap">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-lg-6 about-left">
        <img class="img-fluid" src="./../assets/img/about-img.jpg" alt="">
      </div>
      <div class="col-lg-5 col-md-12 about-right">
        <div class="section-title">
          <h2>about myselt</h2>
        </div>
        <div class="mb-50 wow fadeIn" data-wow-duration=".8s">
          <p>
            Inventive web developer devoted to building
            and optimizing the performance of web
            applications for local and global organizations.
            Adept at technical analysis and problem-solving
            to create dynamic, high-speed websites, apps
            and platforms. Team player and a quick learner.
          </p>
          <p>
            Experienced in full stack development process using various programming languagues and frameworks.
          </p>
        </div>
        <a href="#" class="primary-btn" data-text="Resume" (click)="resume()">
          <span>R</span>
          <span>e</span>
          <span>s</span>
          <span>u</span>
          <span>m</span>
          <span>e</span>
        </a>
      </div>
    </div>
  </div>
</section>
<!-- End About Area -->