<!-- Start Contact Area -->
<section class="contact-area section-gap">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="contact-title">
          <h2>Contact Me</h2>
          <p>If you are looking for a hardworking developer with quick learning skills look no further.</p>
        </div>
      </div>
    </div>

    <div class="row mt-80">
      <div class="col-lg-4 col-md-4">
        <div class="contact-box">
          <h4>+977 9840050490</h4>
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="contact-box">
          <h4>rumus.3353@gmail.com</h4>
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="contact-box">
          <h4>rumus.me</h4>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 text-center">
        <a href="#" class="primary-btn mt-50" data-text="Hire Me">
          <span>H</span>
          <span>i</span>
          <span>r</span>
          <span>e</span>
          <span> </span>
          <span>M</span>
          <span>e</span>
        </a>
      </div>
    </div>
  </div>
</section>
<!-- End Contact Area -->
