<!-- Start brands Area -->
<section class="brands-area">
    <div class="container">
      <div class="brand-wrap">
        <div class="row align-items-center active-brand-carusel justify-content-start no-gutters">
          <div class="col single-brand">
            <a href="#"><img class="mx-auto" src="./../assets/img/program/b1 copy.png" alt=""></a>
          </div>
          <div class="col single-brand">
            <a href="#"><img class="mx-auto" src="./../assets/img/program/b2 copy.png" alt=""></a>
          </div>
          <div class="col single-brand">
            <a href="#"><img class="mx-auto" src="./../assets/img/program/b3 copy.png" alt=""></a>
          </div>
          <div class="col single-brand">
            <a href="#"><img class="mx-auto" src="./../assets/img/program/b4 copy.png" alt=""></a>
          </div>
          <div class="col single-brand">
            <a href="#"><img class="mx-auto" src="./../assets/img/program/b5 copy.png" alt=""></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End brands Area -->