<!-- start banner Area -->
<section class="banner-area relative">
  <div class="container">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="about-content col-lg-12">
        <h1 class="text-white">
          {{bannerHeading}}
        </h1>
        <p class="link-nav">
          <span class="box">
            <a href="index.html">Home </a>
            <a href="portfolio.html">{{bannerHeading}}</a>
          </span>
        </p>
      </div>
    </div>
  </div>
</section>
<!-- End banner Area -->